/* *{
    direction: rtl !important;
} */
.welcome,
.carousel,
.carousel-caption h5,.carousel-caption p{
    font-family: 'Tajawal', sans-serif  !important;
}
.bg-shape{
    background-image: url('/images/bg.png');
    background-position: center center;
    background-repeat: repeat;
    height: 100%;
}
.navbar-nav .nav-link{
    font-family: 'Tajawal', sans-serif !important;
    font-weight: normal !important;
}

/* The outermost element*/
  .carousel{overflow: hidden;}
  .carousel-item .zoominheader {
    width:100%;
    height:100%;
    text-align:center;
    background-size: auto;
    background-attachment: fixed;
    background-repeat: repeat;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-animation: zoomin 10s ease-in infinite;
    animation: zoomin 10s ease-in infinite;
    transition: all .5s ease-in-out;
    overflow: hidden;
  }


  /* Zoom in Keyframes */
  @-webkit-keyframes zoomin {
    0% {transform: scale(1);}
    50% {transform: scale(1.5);}
    100% {transform: scale(1);}
  }
  @keyframes zoomin {
    0% {transform: scale(1);}
    50% {transform: scale(1.5);}
    100% {transform: scale(1);}
  } /*End of Zoom in Keyframes */

  /*Style for the text*/
  .text{
    color:red;
    font-weight:bold;
  }

.carousel-item {
	height: 100vh;
	min-height: 300px;
}
.carousel-caption {
	bottom: 220px;
}
.carousel-caption h5 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
	font-family: merienda;
}
.carousel-caption p {
	width: 60%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
	font-family: poppins;
}
.carousel-caption a {
	text-transform: uppercase;
    text-decoration: none;
	padding: 10px 30px;
	display: inline-block;
	color: #fff;
    margin-top: 15px;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}
.carousel-caption a:hover{
    background: #5242c5;
}
.navbar-nav a {
	font-family: poppins;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}
.navbar-light .navbar-brand {
	color: #fff;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}.navbar-light .navbar-brand :hover{color:blueviolet!important}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: #fff;
}
.navbar-light .navbar-nav .nav-link {
	color: #fff;
}
.navbar-nav {
	text-align: center;
}
.nav-link {
	padding: .2rem 1rem;
}
.nav-link.active, .nav-link:focus {
	color: #fff;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #fff;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #fff;
}
.w-100 {
	height: 100vh;
}
@media only screen and (max-width: 767px) {
	.navbar-nav.ml-auto {
		background: rgba(0, 0, 0, 0.5);
	}
	.navbar-nav a {
		font-size: 14px;
		font-weight: normal;
	}
}

.coverly{
    background-color: black;
    opacity: 0.8;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
#carouselExampleIndicators{
    position: relative;
}
.imgCoverly{
    position: relative;
    background-image: url('/images/experience.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 100;
}
#experience > li {
    margin-bottom: 5px;
}
#experience .container{
    z-index: 9999;
    position: relative;
    color: #d1d1d1;
}

.headline{
    font-family:'Oswald';
    font-weight:700;
    position:relative;
    margin:30px auto;
    text-transform:uppercase;
    width:300px;
  }

  .headline:before, .headline:after {
    background:#24C6DC;
    content:"";
    display:block;
    height:30px;
    position:absolute;
    width:25px;
  }

  .headline:before  {
    left:0;
    top:9px;
    border-radius: 90px 0 0 90px;
    -moz-border-radius: 90px 0 0 90px;
    -webkit-border-radius: 90px 0 0 90px;
  }

  .headline:after   {
    right:0;
    top:9px;
    border-radius: 0 90px 90px 0;
    -moz-border-radius: 0 90px 90px 0;
    -webkit-border-radius:  0 90px 90px 0;
  }

  #experience .headline:before,
  #experience .headline:after{
      background-color: white;
  }

  #service .card{
      transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
  }
  #service .card:hover {
    box-shadow: 1px 1px 5px 364152;
    transform: scale(1.07);
  }
  #contact{
    background-image: url('/images/contact_us.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  #contact .container{
    z-index: 100;
    position: relative;
    color: white;
  }
  .main-bg-color{
    background: #24C6DC!important;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #514A9D, #24C6DC)!important;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #514A9D, #24C6DC)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    color: white;
    border: none;
  }
  .main-bg-color:hover{
    background: #24C6DC  !important;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #514A9D, #24C6DC) !important;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #514A9D, #24C6DC) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .main-color{
      color: #24C6DC!important;
  }

  .to-top {
    background: #24C6DC;
    position: fixed;
    z-index: 9999;
    bottom: 16px;
    right:32px;
    width:50px;
    height:50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:32px;
    color:white;
    text-decoration: none;
    opacity:0;
    pointer-events: none;
    transition: all .4s;
  }

  .to-top.active {
    bottom:32px;
    pointer-events: auto;
    opacity:1;
  }

  footer{
      padding: 10px;
      background-color: black;
  }
  footer p {
    height: 100%;
  }
  .fa-facebook-square,
  .fa-twitter-square,
  .fa-instagram-square{
    color:  #24C6DC;
    font-size: 30px;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
  }
  .fa-facebook-square:hover,
  .fa-twitter-square:hover,
  .fa-instagram-square:hover{
    color: white;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }

  .scrolledTheme{
      z-index: 9999;
      border-bottom: 1px solid white;
      background-color: black !important;
  }
